/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: 'PressStart2P';
    src: url('assets/fonts/Press_Start_2P/PressStart2P-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Digitalix';
    src: url('assets/fonts/Digitalix/digitalix.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}