<div class="snowbg">
    <app-snow></app-snow>
</div>

<div class="maincontent">
    <div class="banner">
        <h1>TURUHOONE</h1>
    </div>
    <div class="buttoncontainer">
        <div class="button" (click)="showComponent('fsand')">
            FALLING SAND
        </div>
        <div class="button" (click)="showComponent('bitr')">
            TBA
        </div>
        <div class="button" (click)="showComponent('tba')">
            tba
        </div>
    </div>
    <div class="componentarea">
        <div *ngIf="selectedComponent === 'fsand'">
            <app-fallingsand></app-fallingsand>
        </div>
        <div *ngIf="selectedComponent === 'bitr'">
            <app-bitretard></app-bitretard>
        </div>
        <div *ngIf="selectedComponent === 'tba'">
            TBA
        </div>
    </div>
</div>